# Importing csv file.

In [21]:
from google.colab import files
uploaded = files.upload()

# Importing required libraries.

In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn import tree
sales_data = pd.read_csv("df_final.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
sales_data.head()

   Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0   1115          3  ...          2012.0  Mar,Jun,Sept,Dec
1   1114          3  ...             NaN               NaN
2   1113          3  ...             NaN               NaN
3   1112          3  ...             NaN               NaN
4   1111          3  ...          2013.0   Jan,Apr,Jul,Oct

[5 rows x 20 columns]

In [39]:
sales_data.describe()

               Store      DayOfWeek  ...  Promo2SinceWeek  Promo2SinceYear
count  372944.000000  372944.000000  ...    179530.000000    179530.000000
mean      559.216124       3.998458  ...        22.688598      2011.731699
std       322.170373       1.998125  ...        14.010220         1.643415
min         1.000000       1.000000  ...         1.000000      2009.000000
25%       281.000000       2.000000  ...        13.000000      2011.000000
50%       558.000000       4.000000  ...        18.000000      2012.000000
75%       839.000000       6.000000  ...        37.000000      2013.000000
max      1115.000000       7.000000  ...        50.000000      2015.000000

[8 rows x 13 columns]

In [40]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372944 entries, 0 to 372943
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      372944 non-null  int64
 1   DayOfWeek                  372944 non-null  int64
 2   DayOfWeekName              372944 non-null  object
 3   Date                       372944 non-null  object
 4   MonthName                  372944 non-null  object
 5   Sales                      372944 non-null  int64
 6   Customers                  372944 non-null  int64
 7   Open                       372944 non-null  int64
 8   Promo                      372944 non-null  int64
 9   StateHoliday               372944 non-null  object
 10  SchoolHoliday              372944 non-null  int64
 11  StoreType                  372944 non-null  object
 12  Assortment                 372944 non-null  object
 13  CompetitionDistance        372944 non-null  float64
 14  CompetitionOpenSinceMonth  254765 non-null  float64
 15  CompetitionOpenSinceYear   254765 non-null  float64
 16  Promo2                     372944 non-null  int64
 17  Promo2SinceWeek            179530 non-null  float64
 18  Promo2SinceYear            179530 non-null  float64
 19  PromoInterval              179530 non-null  object
dtypes: float64(5), int64(8), object(7)
memory usage: 56.9+ MB

# Cleaning dataset.

In [41]:
sales_data.isnull().sum()

Store                             0
DayOfWeek                         0
DayOfWeekName                     0
Date                              0
MonthName                         0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance               0
CompetitionOpenSinceMonth    118179
CompetitionOpenSinceYear     118179
Promo2                            0
Promo2SinceWeek              193414
Promo2SinceYear              193414
PromoInterval                193414
dtype: int64

In [42]:
cat_col = []
for x in sales_data.dtypes.index:
  if sales_data.dtypes[x] == 'object':
    cat_col.append(x)
cat_col

['DayOfWeekName',
 'Date',
 'MonthName',
 'StateHoliday',
 'StoreType',
 'Assortment',
 'PromoInterval']

In [43]:
cat_col.remove('DayOfWeekName')
cat_col.remove('Date')
cat_col

['MonthName', 'StateHoliday', 'StoreType', 'Assortment', 'PromoInterval']

In [44]:
for col in cat_col:
  print(col)
  print(sales_data[col].value_counts())
  print()

MonthName
May    34472
Mar    34472
Jan    34472
Apr    33360
Jun    33360
Feb    31136
Dec    28923
Jul    28923
Aug    28923
Oct    28923
Nov    27990
Sep    27990
Name: MonthName, dtype: int64

StateHoliday
0    230690
0    131072
a      7092
b      2224
c      1866
Name: StateHoliday, dtype: int64

StoreType
a    203909
d    111570
c     51444
b      6021
Name: StoreType, dtype: int64

Assortment
a    194739
c    175104
b      3101
Name: Assortment, dtype: int64

PromoInterval
Jan,Apr,Jul,Oct     99827
Feb,May,Aug,Nov     43405
Mar,Jun,Sept,Dec    36298
Name: PromoInterval, dtype: int64

# Filling null values

In [45]:
sales_data['CompetitionOpenSinceMonth'] = sales_data['CompetitionOpenSinceMonth'].fillna(method='ffill').fillna(method='bfill')
sales_data['CompetitionOpenSinceYear'] = sales_data['CompetitionOpenSinceYear'].fillna(method='ffill').fillna(method='bfill')
sales_data['Promo2SinceWeek'] = sales_data['Promo2SinceWeek'].fillna(method='ffill').fillna(method='bfill')
sales_data['Promo2SinceYear'] = sales_data['Promo2SinceYear'].fillna(method='ffill').fillna(method='bfill')
sales_data['PromoInterval'] = sales_data['PromoInterval'].fillna(method='ffill').fillna(method='bfill')
sales_data.isnull().sum()
sales_data.head()

   Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0   1115          3  ...          2012.0  Mar,Jun,Sept,Dec
1   1114          3  ...          2012.0  Mar,Jun,Sept,Dec
2   1113          3  ...          2012.0  Mar,Jun,Sept,Dec
3   1112          3  ...          2012.0  Mar,Jun,Sept,Dec
4   1111          3  ...          2013.0   Jan,Apr,Jul,Oct

[5 rows x 20 columns]

# Transforming categorical data.

In [46]:
le = LabelEncoder()
sales_data['MonthName'] = le.fit_transform(sales_data['MonthName'].astype(str))
for col in cat_col:
    sales_data[col] = le.fit_transform(sales_data[col].astype(str))
sales_data['DayOfWeekName'] = le.fit_transform(sales_data['DayOfWeekName'].astype(str))

In [47]:
sales_data.head()

   Store  DayOfWeek  ...  Promo2SinceYear PromoInterval
0   1115          3  ...           2012.0             2
1   1114          3  ...           2012.0             2
2   1113          3  ...           2012.0             2
3   1112          3  ...           2012.0             2
4   1111          3  ...           2013.0             1

[5 rows x 20 columns]

# Splitting into train and test dataset form training.

In [52]:
X = sales_data.drop(columns=['Store','Date','Sales', 'Promo2', 'Open', 'CompetitionOpenSinceYear','DayOfWeekName' ,'Promo2SinceYear'])
y = sales_data['Sales']

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=1)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
c=0
for i in Y_test:
  if i==0:
    c=c+1
c

(335649, 12) (37295, 12) (335649,) (37295,)

6305

In [54]:
model = tree.DecisionTreeRegressor(max_depth= 8)
model.fit(X_train, Y_train)
model.score(X_train, Y_train)

0.9198949252653726

In [58]:
predictions = model.predict([[6,2,437,0,0,0,0,0,4520.0,2.0,14.0, 1]])
predictions = np.around(predictions)
predictions

array([4157.])

# Saving the model.

In [60]:
import pickle
filename = 'sales_prediction.sav'
pickle.dump(model, open(filename, 'wb'))